@model BasicTournament_System.Models.Campeonato

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Campeonato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRealizacao" class="control-label"></label>
                <input asp-for="DataRealizacao" class="form-control" />
                <span asp-validation-for="DataRealizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mes" class="control-label"></label>
                <input asp-for="Mes" class="form-control" />
                <span asp-validation-for="Mes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SobreEvento" class="control-label"></label>
                <input asp-for="SobreEvento" class="form-control" />
                <span asp-validation-for="SobreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ginasio" class="control-label"></label>
                <input asp-for="Ginasio" class="form-control" />
                <span asp-validation-for="Ginasio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformacoesGerais" class="control-label"></label>
                <input asp-for="InformacoesGerais" class="form-control" />
                <span asp-validation-for="InformacoesGerais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaPublico" class="control-label"></label>
                <input asp-for="EntradaPublico" class="form-control" />
                <span asp-validation-for="EntradaPublico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fase" class="control-label"></label>
                <input asp-for="Fase" class="form-control" />
                <span asp-validation-for="Fase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
